// Variables de couleurs
$background-color: #f8f9fa;
$text-color: #333;
$title-color: #007bff;
$border-color: #ddd;
$shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

// Container de la grille de logiciels
.Logiciel_grid {
  padding: 40px 20px;
  margin: 30px 0;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: $shadow;
  text-align: center;

  .titre_logiciel {
    color: $title-color;
    margin-bottom: 30px;
    font-size: 2.5rem;
  }

  .Logiciel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .logiciel {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid $border-color;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: calc(25% - 20px);
    box-shadow: $shadow;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 150px;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    }

    img {
      max-width: 80px;
      margin: 15px;
      border-radius: 4px;
    }

    p {
      color: $text-color;
      font-size: 1.1rem;
      font-weight: bold;
      margin: 0;
      text-align: center; // Alignement central du texte
    }
  }
}

// Styles pour les écrans de téléphone
@media (max-width: 768px) {
  .Logiciel_grid {
    padding: 20px 50px;
    margin: 30px 0;
  }
  
  .Logiciel_grid .logiciel {
    width: calc(90% - 20px); 
    display: block; 
    margin: 10px 0px 30px; 
  }
}
